$color1: #F21E4E;
$color2: #343A40;
$color3: #6c63ff;
$color4: #F8F9FA;
$color5: #2B5577;
$blanco: #fff;
$negro: #000;

$colorFondoInicio: #f1f1f1;
$anchoInicioSaludo: 13.5488em;
$paddingSecciones: 60px 0;
$tamanoBorderRadius: 4px;
$margenTitulos: 0.725em 0;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: $color2;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.wrap{
    max-width: 75em;
    width: 90%; 
    margin: 0 auto;
}

.titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
}



// Header
.header{
    position: fixed;
    top: 0;
    z-index: 5;
    display: block;
    width: 100%;
    padding: 0.625em 0;
    background: $blanco;
    box-shadow: 0 0 5px;
    transition: all 0.5s;
}

.header__barra{
    display: flex;
    height: 40px;
}

.header__logo{
    margin-top: 6px;
    display: block;
    background-image: url('./../imagenes/logo.png');
    background-repeat: no-repeat;
    width: 150px;
}
// .header__imagen{
//     width: 30px;
//     height: 30px;
// }

// Menu
.menu__hamburger{
    height: 20px;
    cursor: pointer;
}

.menu__hamburger svg{
    z-index: 999;
}

.menu__icono{
    width: 30px;
    height: 30px;
}

.menu__icono path{
    color: #000;
}

.menu__icono--absolute{
    position: absolute;
    right: 30px;
}

.menu__lista{
    display: block;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    clip-path: circle(0.0% at 100% 0);
    transition: 1s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu__lista.active{
    clip-path: circle(141.4% at 100% 0);
    transition: 1s ease;
}

.menu__item{
    letter-spacing: 0.1em;
    margin: 1.25em 0;
    font-size: 1.25em;    
}

.menu__link{
    text-decoration: underline;
    text-decoration-color: rgb(143, 142, 142);
}
.desktop__derecha{
    display: block;
}

// Inicio
.inicio{
    position: relative;
    background-color: $colorFondoInicio;
    margin-top: 50px;//Para que haya espacio y no lo la barra header
    text-align: center;
    padding: $paddingSecciones;
    height: calc(100vh - 50px);
}

.inicio__saludo{
    position: absolute;
    width: $anchoInicioSaludo ;
    left: calc(50% - 6.7741em);
    top: calc(50% - 1em);
}

.inicio__nombre{
    display: block;
    font-size: 1.5em; //1.5 de
    color: #fff;
    text-shadow: 0.0625em 0.0625em 0.3125em #000;
    border-radius: 4px;
    margin-bottom: 0.65em;
}

.inicio__nombre--profesion{
    font-size: 1.2em;
    margin-top: 0.625em;
}


.boton{
    display: block;
    width: 7.5em;
    // max-width: 8.75rem;   
    padding: 0.5rem;
    color: #fff;
    box-shadow: 2px 2px 5px black;
    background: $color1;
    border-radius: 4px;
}

.boton--margin{
    margin: 1.25rem auto;
}

.boton__icono{
    margin-right: 8px;
}

.boton__icono path{
    color: #fff;
}


.inicio__picture{
    width: 16.25em;
}

.presentacion{
    background-color: $blanco;
}

.presentacion__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-skill{
    padding: 1.25em;
    background-color: $color4;
    margin-top: 0.5em;
    width: 9.375em;
    height: 9.375em;
    border-radius: 4px;
    box-shadow: 0 0 5px rgb(177, 172, 172);
}

.card-skill__texto{
    display: block;
    font-size: 1.125em;
    margin-top: 0.3125em;
}

.card-skill__icono{
    font-size: 5em;
}



// ------ Presentacion ------

.presentacion{
    text-align: center;
    padding: $paddingSecciones;// Padding agregado para que funcione el smooth scroll
}

.presentacion__titulo{
    text-align: center;
    margin: $margenTitulos;
    font-size: 1.5em;
}

.presentacion__imagen{
    margin: 0.3125em 0;
    border-radius: $tamanoBorderRadius;
    display: block;
    width: 100%;
    box-shadow: 0 0 20px #5E8CA3;
}

.presentacion__descripcion{
    margin: 0.9375em 0;
}

.presentacion__nombre{
    text-align: center;
    font-size: 1.2em;
    margin: 0.3125em 0;
}

.presentacion__parrafo{
    margin: 10px 0;
    text-align: justify;
}

// ------ Portafolio-----------
.portafolio{
    text-align: center;
    padding: $paddingSecciones;// Padding agregado para que funcione el smooth scroll
    display: block;
}

.portafolio__titulo{
    text-align: center;
    margin: $margenTitulos;
    font-size: 1.5em;
}

// .portafolio__lista{
// }

.card-portafolio{//El color del card está en el Portafolio.js
    margin-top: 0.625em;
    border-radius: 4px;
    box-shadow: 0 0 8px #000;
}

.card-portafolio__imagen{
    // background-color: #fcfcfc;
    border-radius: inherit;
    padding: 0.9375em;
    display: block;
    width: 100%;
    // La imagen se ubicara arriba y respetando el alto
    object-fit: cover;
    height: 320px;
    object-position: top
}

.card-portafolio__boton{
    display: block;
    margin: 0.3125em auto;
    width: 8.5em;
    padding: 0.5rem;
    color: $blanco;
    box-shadow: 2px 2px 5px black;
    background: $color1;
    opacity: 1;
    border-radius: 4px;
    &:hover{
        background-color: $color1;
        opacity: 0.9;
    }
}

.card-portafolio__boton--icono{
    background-color: $blanco;
    color: $negro;
    &:hover{
        background-color: $blanco;
        opacity: 0.9;
    }
}

.card-portafolio__boton svg{
    margin-right: 5px;
}

.card-portafolio__imagen--horizontal{
    object-fit: none;
    height: 255px;
}

.card-portafolio__footer{
    text-align: center;
    border-top: 1px solid rgb(209, 209, 209);
    padding: 0.9375em;
}

// ------- Contacto -------
.contacto{
    background-color: $color5;
    color: $blanco;
    text-align: center;
    padding: $paddingSecciones;// Padding agregado para que funcione el smooth scroll
}

.contacto__info{
    color: $blanco;
}

.contacto__titulo{
    text-align: center;
    margin: $margenTitulos;
    font-size: 1.5em;
    color: inherit;
}

.contacto__descripcion{
    font-size: 1.125em;
    color: inherit;
}

.contacto__correo{
    font-size: 1.125em;
    margin: 10px 0;
    text-decoration: underline;
    color: inherit;
    font-weight: bold;
}

// ***** Comp Social ******
.social{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.25em 0;
}

.social__item{
    cursor: pointer;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0px;
    width: 60px;
    height: 60px;
    background-color: $blanco;
}

.social__link{
    font-size: 1.875em;
}

.contacto__picture{
    margin: 0.625em 0;
    width: 19.375em;
}

// ------- Footer ------

.footer{
    text-align: center;
    font-size: 0.875em;
    background-color: $color5;
    padding: 0.625em 0;
}

.footer__wrap{
    border-top: 1px solid $blanco;
}
.footer__texto{
    padding: 1em 0;
    color: $blanco;
}
// Media queries
@media screen and (min-width: 768px) { 
    body{
        font-size: 18px;
    }
    .header{
        height: 50px;
        background-color: #fff;
        box-shadow: 0 0 5px #000;
        display: block;
        position: fixed;
        left: 0;
        height: 100vh;
        width: 85px;
        transition: all 0.5s;
    }
    .header__logo{
        display: none;
    }
    .menu__link{
        text-decoration: none;
        cursor: pointer;
    }
    .menu__hamburger{
        display: none;
    }
    .menu__lista{
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: space-around;
        width: auto;
        clip-path: none;
    }
    .menu__item{
        margin: initial;
        font-size: initial;
        transform: rotate(-90deg);
        // font-size: 1.125rem;
        font-weight: bold;
    }
    .menu__link:hover{
        text-decoration: underline;
        text-decoration-color: rgb(37, 37, 37);
    }
    .desktop__derecha{
        position: absolute;
        right: 0;
        width: calc(100vw - 102px);
    }
    .inicio{
        height: 100vh;
        margin-top: initial;
    }
    .presentacion__personal{
        display: flex;
        align-items: center;
    }
    .presentacion__imagen{
        flex-grow: 1;
        width: 50%;
    }
    .presentacion__descripcion{
        flex-grow: 1;
        width: 50%;
        padding: 1.5625em;
    }
    .presentacion__cards{
        padding: 1.875em 0;
    }
    .card-skill{
        width: 7.375em;
        height: 7.375em;
        padding: 5px;
    }
    .portafolio__lista{
        display: flex;
        flex-wrap: wrap;
    }
    .card-portafolio{
        width: 35%;
        flex-grow: 1;
        margin: 10px;
        border-radius: $tamanoBorderRadius;
        max-width: 47%;
    }
    .card-portafolio__imagen{
        height: 400px;
    }
    .social{
        margin: 0 auto;
        max-width: 500px;
    }
}
@media screen and (min-width: 992px) { 
    body{
        font-size: 20px;
    }
    .card-portafolio{
        width: 35%;

    }
}
@media (min-width: 1200px) { 
    body{
        font-size: 22px;
    }
    .card-portafolio{
        width: 30%;

    }
}